@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

header {
	background: url('images/bg-photo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	font-family: "Roboto", serif;
	color: #EEDDFF;
}

.container {
	margin: 0 auto;
}

.navbar-brand {
	width: 130px;
}

.icon-header {
	width: 30px;
}

.header-contacts {
	font-weight: bold;
	font-size: 18px;
}

.working-tel {
	display: none;
}

.contact-link {
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	font-family: "Roboto", serif;
	color: #EEDDFF;
}

h1 {
	font-family: "El Messiri", serif;
	font-size: 140px;
	font-weight: bold;
	margin-left: 580px;
	margin-top: 40px;
}

.home {
	font-size: 50px;
	font-weight: bold;
	margin-left: 580px;	
}

.btn {
	background-color: #EEDDFF;
	color: #4C2E05;
	font-family: "El Messiri", serif;
	font-size: 25px;
	font-weight: 600;
	width: 180px;
	margin-left: 580px;	
	margin-top: 50px;
	margin-bottom: 80px;
}

main {
	background-color: rgb(238, 221, 255, .5);
}

.h2 {
	font-family: "El Messiri", serif;
	font-size: 50px;
	color: #2F1D03;
	text-align: center;
	font-weight: bold;
	margin-top: 70px;
}

p {
	color: #2F1D03;
	font-size: 26px;
	text-align: justify;
	font-weight: 500;
}

.container-slider {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  -webkit-overflow-scrolling: touch; /* для плавной прокрутки на мобильных устройствах */
  scrollbar-color: #2F1D03 transparent;
}

.slide {
  /*flex: none;*/
  scroll-snap-align: start;
  width: 100%;
  text-align: center;
  padding-right: 10px;
}

.container-brown {
	display: inline-flex;
	margin: 0 auto; 
}

.container-brown p {
	text-align: left;
	font-weight: bold;
}

.icon-camera-brown {
	width: 50px;
	margin-right: 20px;
}

footer {
	background-color: #2F1D03;
}

.footer-brand {
	width: 100px;
	height: 100px;
}

footer p {
	color: #EEDDFF;
}

.footer-title {
	font-family: "El Messiri", serif;
	font-size: 34px;
	font-weight: bold;
}

.footer-subtitle {
	font-size: 16px;
}

.footer-contacts {
	display: inline-flex;
}

.footer-location {
	display: inline-flex;
}

@media screen and (max-width:1380px) {
	h1{
		margin-left: 80px;
		font-size: 120px;
	}

	.home {
		margin-left: 80px;	
		font-size: 40px;
	}

	.btn {
		margin-left: 80px;	
		margin-bottom: 60px;
	}	

}	

@media screen and (max-width:1024px) {
	.navbar-brand {
		width: 100px;
	}

	.header-contacts {
		font-size: 14px;
	}

	.contact-link {
		font-size: 14px;
	}

	.icon-header {
		width: 20px;
	}

	h1 {
		margin-left: 50px;
		font-size: 100px;
	}

	.home {
		font-size: 34px;
		margin-left: 50px;
	}

	.btn {
		margin-left: 50px;	
		margin-top: 30px;
		margin-bottom: 40px;
	}	

	.h2 {
		font-size: 40px;
		margin-top: 60px;
	}

	p {
		font-size: 24px;
	}
}

@media screen and (max-width:768px) {
	.navbar-brand {
		width: 80px;
	}

	.working {
		display: none;
	}

	.working-tel {
		display: block;
	}

	h1 {
		margin-left: 0px;
		font-size: 80px;
	}

	.home {
		font-size: 30px;
		margin-left: 0px;
	}

	.btn {
		margin-left: 0px;	
		margin-top: 30px;
		font-size: 18px;
		width: 150px
	}	

	.h2 {
		font-size: 36px;
		margin-top: 40px;
	}

	p {
		font-size: 20px;
	}

	.container-brown {
		display: inline-flex;
		margin: 0 auto; 
		width: 350px;
	}

	.footer-brand {
		width: 80px;
		height: 80px;
	}

	.footer-contacts {
		display: grid;
	}

	.footer-location {
		margin: 0 auto!important;
	}
}	

@media screen and (max-width:425px) {
	h1 {
		margin-left: 0px;
		font-size: 60px;
		margin-left: 5px;
		margin-top: 26px;
	}

	.home {
		font-size: 26px;
		margin-left: 5px;
		font-size: 30px;
	}

	.btn {
		margin-left: 5px;	
		margin-top: 26px;
		font-size: 14px;
		width: 130px
	}	

	.h2 {
		font-size: 34px;
		margin-top: 40px;
	}

	p {
		font-size: 18px;
	}

	.container-brown {
		width: 310px;
		margin: 0 auto; 
	}
}
